* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: 'flex';
    flex-direction: 'column';
    overflow: 'scroll';
}
html {
    scroll-behavior: smooth;
}
#root {
    height: min-content;
    width: 100%;
    background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjQyIiBoZWlnaHQ9IjQyIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxODApICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSg0NywgNjIsIDcwLDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoODIsIDEyMSwgMTExLDEpIiBkPSJNMCAxOSBoNDAgdjIgaC00MHogTTAgMjEgaDQwIHYyIGgtNDB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSgyMDIsIDIxMCwgMTk3LDEpIiBkPSJNIDIwIDE5IGEgMSAxIDAgMCAwIDAgMmEgMSAxIDAgMCAwIDAgLTIgeiBNIC0xMCAtMTAgaCA2MCB2IDYwIGggLTYwIHoiPjwvcGF0aD48L3BhdHRlcm4+ICA8L2RlZnM+IDxyZWN0IGZpbGw9InVybCgjcGF0dGVybikiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiPjwvcmVjdD48L3N2Zz4=");
    color: #2f3e46;
    background-repeat: repeat;
    background-attachment: fixed;
}
#banner {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('static/media/leaves.jpg');
}
#banner-image {
    height: 100%;
    width: 20%;
    object-fit: contain;
}
#article {
    height: 80%;
    width: 100%;
    background-color: #354f52;
    color: #cad2c5;
}